.navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
  background-color: #000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Navbar oscura */
.navbar:has(.navbar-collapse.show) {
  background-color: #000;
}

.navbar-container {
  width: 100%;
  padding: 0 1rem;
}

/* CONTENEDOR DEL MENU */
.navbar-collapse {
  justify-content: center;
}

/* LISTA */
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* LINKS */
.nav-link {
  color: var(--color3) !important;
  font-family: "Anta", sans-serif;
  text-transform: uppercase;
  padding: 0.5rem 0;

  &:hover {
    color: var(--color2) !important;
  }
}

/* TOGGLER */
.navbar-toggler {
  border: none;
  box-shadow: none;
}

/* SACA BORDE AL HACER FOCO */
.navbar-toggler:focus {
  box-shadow: none;
}

/* ICONO MENU */
.navbar-toggler-icon {
  filter: invert(1);
}

/* = MOBILE = */
@media (max-width: 768px) {
  .navbar-collapse {
    margin-top: 1rem;
  }

  .navbar-nav {
    flex-direction: column;
    gap: 1rem;
  }
}
