.skills-section {
  background-color: black;
  padding: 2rem 5%;
}

.container-skills {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

/* LEFT BLOCK */
.skills-left {
  flex: 1;
  background-color: var(--color8);
  min-height: 500px;
  padding: 2rem;

  .skills-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color2);
  }

  .skills-subtitle {
    font-size: 0.8rem;
    color: var(--color3);
  }

  .horizontal-row {
    border: none;
    max-width: 100%;
    height: 5px;
    background-color: var(--color2);
    margin: 20px 0;
  }
}

/* RIGHT BLOCK */
.skills-right {
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

/* SKILL ITEM */
.skill-item {
  display: flex;
  align-items: center;

  .skill-icon {
    font-size: 2rem;
    color: var(--color7);
    margin-right: 0.5rem;
  }

  .skill-label {
    font-size: 1rem;
    color: var(--color4);
    text-transform: uppercase;
  }
}

/* = MOBILE = */
@media (max-width: 768px) {
  .container-skills {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .skills-left {
    width: 100%;
    min-height: auto;
    text-align: center;
  }

  .skills-right {
    width: 100%;
    padding: 0;
    align-items: center;
  }

  .skill-item {
    justify-content: center;
  }
}
