.projects-section {
  padding: 6rem 1rem;
  background-color: var(--color5);
}

.projects-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--color2);
  font-family: "Anta", sans-serif;
  text-transform: uppercase;
}

.horizontal-row {
  border: none;
  width: 100%;
  height: 5px;
  background-color: var(--color2);
  margin: 20px auto;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: #eef3ee;
  border-radius: 12px;
  overflow: hidden;
  height: 100%;
  margin: 15px;
}

.project-image img {
  width: 100%;
  height: auto;
  display: block;
}

.project-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h5 {
    font-size: 1.1rem;
    font-weight: bold;
  }

  p {
    font-size: 0.95rem;
    flex-grow: 1;
  }
}

@media (min-width: 768px) {
  .projects-section {
    padding: 8rem 5%;
  }
}
