@import "./styles/breakpoints";
@import "./styles/mixins";
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", sans-serif;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

// Colors
:root {
  --color1: #160c28ff;
  --color2: #efcb68ff;
  --color3: #e1efe6ff;
  --color4: #aeb7b3ff;
  --color5: #000411ff;
  --color6: #CF5C36;
  --color7: #D48838;
  --color8: #1e1e1e;
}